* {
  font-family: "Mulish", sans-serif;
  text-transform: capitalize;
}
.container {
  margin: 0 auto;
  width: 800px;
}
.search__container {
  padding-top: 20px;
  padding-bottom: 20px;
}
.search__form {
  padding-left: 12px;
}

.spring_input {
  width: 314px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.7);
  color: #529fd2;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding-left: 10px;
}
.spring_input:focus {
  outline: 2px solid rgba(82, 159, 210, 0.8);
  box-shadow: rgba(82, 159, 210, 0.5) -4px 4px 4px -4px;
}
.search_button {
  margin-left: 7px;
  height: 38px;
  border-radius: 10px;
  color: white;
  transition: all 0.5s ease-in-out;
  font-weight: 600;
}
.seasons__item {
  font-size: 25px;
  margin-left: 12px;
}
.seasons__item i {
  color: #94aad9;

  transition: all 0.5s ease-in-out;
}
.seasons__item i:hover {
  text-shadow: -1px 0 rgba(122, 99, 108, 1), 0 1px rgba(122, 99, 108, 1),
    1px 0 rgba(122, 99, 108, 1), 0 -1px rgba(122, 99, 108, 1);
}
.landscape_background {
  padding-top: 20px;
  height: 510px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.main__city {
  color: #f0fdf5;
  text-shadow: -1px 0 #2a595f, 0 1px #2a595f, 1px 0 #2a595f, 0 -1px #2a595f;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 5px;
}
.main__date,
.main__time,
.main__detailed {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  margin-top: 5px;
}
.main__time {
  margin-left: 20px;
}
.main__temperature {
  padding-left: 40px;
  margin-top: 10px;
}
.temperature__number,
.temperature__units,
#convert-temp {
  font-size: 85px;
  font-weight: 900;
  color: #f0fdf5;
  text-shadow: -1px 0 #2a595f, 0 1px #2a595f, 1px 0 #2a595f, 0 -1px #2a595f;
  line-height: 85px;
  text-decoration: none;
}
.temperature__units,
#convert-temp {
  font-size: 35px;
  vertical-align: top;
}
#actual-icon {
  font-size: 85px;
  text-shadow: -1px 0 #2a595f, 0 1px #2a595f, 1px 0 #2a595f, 0 -1px #2a595f;
  color: #f0fdf5;
}

#convert-temp {
  font-size: 20px;
}
#convert-temp:hover {
  color: #ddec33;
}
.forecast__container {
  padding-top: 20px;
  padding-bottom: 10px;
}
.forecast__item {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-left: 12px;
  padding: 10px;
}
.forecast__item:nth-child(5) {
  margin-right: 12px;
}
.forecast__day {
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  font-weight: 800;
  margin-bottom: 10px;
}
.forecast__icon {
  margin: 0 auto;
  text-align: center;
  color: #f0fdf5;
  text-shadow: -1px 0 #2a595f, 0 1px #2a595f, 1px 0 #2a595f, 0 -1px #2a595f;

  width: 52px;
}
.icon_small {
  font-size: 50px;
}
.forecast__temperature {
  font-size: 28px;
  font-weight: 900;
  color: #f0fdf5;
  text-shadow: -1px 0 #2a595f, 0 1px #2a595f, 1px 0 #2a595f, 0 -1px #2a595f;
  text-align: center;
}

.credits__container {
  padding-top: 10px;
  padding-bottom: 100px;
  text-align: center;
}
#link-source {
  text-decoration: none;
  color: #529fd2;
  font-weight: 800;
}
.credits__icon {
  font-size: 30px;
}
.spring {
  background-color: rgba(239, 144, 175, 0.7);
  color: #2a595f;
}
.spring_background {
  background: url("../src/img/spring1800.jpg") center center/cover no-repeat;
}
.spring_button {
  border: 2px solid rgba(82, 159, 210, 0);
  background-color: #2a595f;
  text-shadow: -1px 0 rgba(82, 159, 210, 0), 0 1px rgba(82, 159, 210, 0),
    1px 0 rgba(82, 159, 210, 0), 0 -1px rgba(82, 159, 210, 0);
}
.spring_button:hover {
  border: 2px solid rgba(82, 159, 210, 1);
  text-shadow: -1px 0 rgba(82, 159, 210, 1), 0 1px rgba(82, 159, 210, 1),
    1px 0 rgba(82, 159, 210, 1), 0 -1px rgba(82, 159, 210, 1);
}
.summer {
  background-color: #fedc84;
  color: #545f88;
}
.summer_background {
  background: url("../src/img/summer1800.jpg") center center/cover no-repeat;
}
.summer_button {
  background-color: #94aad9;
  border: 2px solid rgba(122, 99, 108, 0);
  text-shadow: -1px 0 rgba(122, 99, 108, 0), 0 1px rgba(122, 99, 108, 0),
    1px 0 rgba(122, 99, 108, 0), 0 -1px rgba(122, 99, 108, 0);
}
.summer_button:hover {
  border: 2px solid rgba(122, 99, 108, 1);
  text-shadow: -1px 0 rgba(122, 99, 108, 1), 0 1px rgba(122, 99, 108, 1),
    1px 0 rgba(122, 99, 108, 1), 0 -1px rgba(122, 99, 108, 1);
}
.autumn {
  background-color: rgba(200, 76, 65, 0.8);
  color: #2a595f;
}
.autumn_background {
  background: url("../src/img/autumn1800.jpg") center center/cover no-repeat;
}
.winter {
  background-color: rgba(182, 151, 216, 0.6);
  color: #82bfeb;
}
.winter_background {
  background: url("../src/img/winter1800.jpg") center center/cover no-repeat;
}
